<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= title%></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link type="text/css" rel="stylesheet" href="styles/reset.min.css">
        <link type="text/css" rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script data-config="scripts/config" data-main="scripts/main" src="sea/sea.js"></script>
    </head>
    <body>
        <!--[if gte ie 8]><!-->
        <div class="container">
            <div class="content">
                <div class="leftbar">
                    <a href="/"><h1 class="logo">GIMS</h1></a>
                    <ul class="toolbar">
                        <li class="addnew"><a><span class="tlpic"></span><span>新建</span></a></li>
                        <li class="matching"><a><span class="tlpic"></span><span>匹配图片</span></a></li>
                        <li class="sending"><a><span class="tlpic"></span><span>一键发送</span></a></li>
                        <li class="load-export"><a><span class="tlpic"></span><span>导入/导出</span></a></li>
                    </ul>
                    <a class="disc linkbtn"></a>
                    <a class="ques linkbtn"></a>
                </div>
                <div class="rightbar">
                    <div class="statebar">
                        <a class="compus-Town hover">
                            <h1>
                                <span>Compus Town</span>
                                <span class="state-title">大学城 校区</span>
                            </h1>
                        </a>
                        <a class="non-compus-Town">
                            <h1>
                                <span>Non-Compus Town</span>
                                <span class="state-title">非大学城 校区</span>
                            </h1>
                        </a>
                    </div>
                    <div class="right-content">
                        <h2 class="title">个人信息</h2>
                        <div class="search">
                            <input type="text"  placeholder="Search..." type="search"/>
                        </div>
                        <div id="table-container">
                            <table class="tHeader">
                                <tr>
                                    <th class="row0"><span></span></th>
                                    <th class="row1"><span>状态</span></th>
                                    <th class="row2"><span>No.</span></th>
                                    <th class="row3"><span>姓名</span></th>
                                    <th class="row4"><span>宿舍</span></th>
                                    <th class="row5"><span>电话</span></th>
                                    <th class="row6"><span>邮箱</span></th>
                                </tr>
                            </table>
                            <div class="tBody-container">
                                <table id="tBody">
                                <% if (data) { %> 
                                    <% if (data.length >= 9) { %>
                                        <% for (var i=0;i<data.length;i++) { %>
                                            <tr class="tBody data-tr">
                                                <th class="row0"><span></span></th>
                                                <th class="row1"><span></span></th>
                                                <th class="row2"><span><%= i %></span></th>
                                                <th class="row3"><span><%= data[i].name %></span></th>
                                                <th class="row4"><span><%= data[i].dormit+' '+data[i].dormitory %></span></th>
                                                <th class="row5"><span><%= data[i].phone %></span></th>
                                                <th class="row6"><span><%= data[i].email %></span></th>
                                            </tr>
                                        <% } %>
                                    <% } else { %>
                                        <% for (var i=0;i<9;i++) { %>
                                            <% if (data.length - i > 0) { %>
                                                <tr class="tBody data-tr">
                                                    <th class="row0"><span></span></th>
                                                    <th class="row1"><span></span></th>
                                                    <th class="row2"><span><%= i + 1 %></span></th>
                                                    <th class="row3"><span><%= data[i].name %></span></th>
                                                    <th class="row4"><span><%= data[i].dormit+' '+data[i].dormitory %></span></th>
                                                    <th class="row5"><span><%= data[i].phone %></span></th>
                                                    <th class="row6"><span><%= data[i].email %></span></th>
                                                </tr>
                                            <% } else { %>
                                                <tr class="tBody spec-tr">
                                                    <th class="row0"></th>
                                                    <th class="row1"></th>
                                                    <th class="row2"><span></span></th>
                                                    <th class="row3"><span></span></th>
                                                    <th class="row4"><span></span></th>
                                                    <th class="row5"><span></span></th>
                                                    <th class="row6"><span></span></th>
                                                </tr>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                                </table>
                                <div id="scrollbar">
                                    <div id="scrollbar-thumb"></div>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <a class="delete">删除</a>
<!--                             <span class="pre"></span>
                            <span class="next"></span> -->
                        </div>
                    </div>
                    <div class="infobar" dataView="off" dataNumber = "0">
                        <div class="info-btn"><span></span><div style="height:0px">&nbsp;</div></div>
                        <div class="info-content">
                            <h2 class="info-title">新建</h2>
                            <hr/>
                            <form action="/addNew" name="newform" method="post" enctype='multipart/form-data'>
                                <div class="form-layout"><label for="name">姓名：</label><input id="name" type="text" placeholder="请输入名字" name="name" /></div>
                                <div class="form-layout"><label for="addr">是否是大学城校区：</label><span class="addr-container radio-selected"><input id="addr1" name="addr" type="radio" value="1" checked="checked"  /><span>是</span></span><span class="addr-container"><input id="addr2" name="addr" value="0" type="radio" /><span>否</span></span></div>
                                <div class="form-layout"><label for="dormitory">宿舍：</label><div class="dropbox"><span class="dcontent">东区12</span><span class="dbtn"><em class="w-arrow"></em></span><ul class="droplist"><li>东区07</li><li>东区08</li><li>东区09</li><li>东区10</li><li>东区11</li></ul><input name="dormit" id="dormit" value="东区12" /></div><span class="linkline">--</span><input id="dormitory" name="dormitory" type="text" placeholder="宿舍号" /></div>
                                <div class="form-layout"><label for="phone">联系电话：</label><input id="phone" name="phone" type="text" placeholder="请输入短号或者长号" /></div>
                                <div class="form-layout"><label for="email">邮箱：</label><input id="email" name="email" type="text" placeholder="xxxx@sample.com" /></div>
                                <hr class="hr-spec"/>
                                <div class="form-layout"><label for="photo_text1">相片编码：</label><input id="photo_text1" name="photo_text1" type="text" placeholder="电子版相片编码" /><span class="add"></span><input id="photo1" name="photo1" type="file" multiple/></div>
                                <div class="form-layout"><label for="photo_text2"></label><input id="photo_text2" name="photo_text2" type="text" placeholder="冲洗版相片编码" /><span class="add"></span><input id="photo2" name="photo2" type="file" multiple/></div>
                                <div class="form-layout"><button id="submit" type="submit">确认</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="load-up">
                        <div class="load">
                            <span></span>
                            <h4>导入可扩充信息量</h4>
                            <button>导入</button>
                        </div>
                        <div class="export">
                            <span></span>
                            <h4>导出信息，打印或导入其他地方</h4>
                            <button>导出</button>
                        </div>
                        <span class="closed"></span>
                    </div> 
                </div>   
            </div>
            <div class="bgi"><img src="images/body-bg.jpg" /></div>
        </div>
        <!-- build:js scripts/main.js -->
        <script type='text/javascript'>
            seajs.config({
                paths: {
                    'scripts': '../scripts/'
                }
                ,alias: {
                    'jquery': 'scripts/jquery-1.10.2.min.js'
                }  
                ,charset: 'utf-8'
            });
        </script>
        <script type='text/javascript' src="scripts/main.js"></script>
        <!-- endbuild -->
        <!--><![endif]-->
        <!--[if lt ie 8]>
            <div id="update-tip-layer">
                <div id="update-tip">
                    <a href="http://www.google.cn/chrome" title="Chrome" id="chrome"></a>
                    <a href="http://www.apple.com.cn/safari/" title="Safari" id="safari"> </a>
                    <a href="http://www.firefox.com.cn/download/" title="Firefox" id="firefox"> </a>
                    <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home" title="IE 10" id="ie"></a>
                </div>
            </div>
        <![endif]-->
</body>
</html>
